/* HTML теги */
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

a {
	cursor: pointer;
	text-decoration: none;
	-webkit-transition: 0.1s ease-in-out;
	-moz-transition: 0.1s ease-in-out;
	transition: 0.1s ease-in-out;
}

a:hover {
	text-decoration: none;
	color: #C60000;
}

hr {
	border: 0; 
	height: 1px; 
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
}

input,
select {
	border-radius: 3px;
	border: 1px solid #BBB7B7;
	padding: 1px 3px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

input:focus:not([type="submit"]),
select:focus {
	border-color: #00a7da;
}

input[type="number"] {
	width: 4em;
}

abbr {
	border: 0;
}

img {
	border-width: 0;
}

/* Кнопки */
.btn_a_2,
.btn_a_2:visited {
	border:1px solid #009fe8; 
	border-radius: 4px;
	font-size: 1em;
	padding: 4px 10px;
	text-decoration:none;
	display: inline-block;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	font-weight: 700;
	color: #fff;
	background-color: #00c8ff; 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#00c8ff), to(#0386aa));
	background-image: -webkit-linear-gradient(top, #00c8ff, #0386aa);
	background-image: -moz-linear-gradient(top, #00c8ff, #0386aa);
	background-image: -ms-linear-gradient(top, #00c8ff, #0386aa);
	background-image: -o-linear-gradient(top, #00c8ff, #0386aa);
	background-image: linear-gradient(to bottom, #00c8ff, #0386aa);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#00c8ff, endColorstr=#0386aa);
}

.btn_a_2:hover {
	border: 1px solid #077cba;
	background-color: #0386aa; 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#0386aa), to(#0386aa));
	background-image: -webkit-linear-gradient(top, #0386aa, #0386aa);
	background-image: -moz-linear-gradient(top, #0386aa, #0386aa);
	background-image: -ms-linear-gradient(top, #0386aa, #0386aa);
	background-image: -o-linear-gradient(top, #0386aa, #0386aa);
	background-image: linear-gradient(to bottom, #0386aa, #0386aa);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#0386aa, endColorstr=#0386aa);
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

.btnSearch {
	margin-right: 10px;
}

#container {
	margin: 0 auto;
	max-width: 1400px;
	min-width: 1024px;
	width: 98%;
}

/* Mobile */
@media screen and (max-width: 720px) {
	#container {
		width: 100%;
		min-width: 700px;
	}
}

#header {
	margin: 0 auto;
}

#header .sub {
	font-size: .8em;
}

#header_title {
	color: #1384C9;
	font-size: 2.0em;
	font-variant: small-caps;
	vertical-align: top;
	letter-spacing: 1px;
	text-shadow: 1px 1px 2px #ccc;
}

#header_title span {
	font-size: .8em;
	vertical-align: top;
}

#header_title span a:hover {
	color: #ff0000;
}

#header_title a {
	color: inherit;
	text-decoration: none;
}

#main {
	padding-top: 10px;
	color: #000;
	margin: 0 auto;
}

#footer {
	margin-top: 20px;
	margin-bottom: 20px;
}

#footer, 
#footer a,
#check-updates {
	color: #999;
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}

#footer a:hover {
	color: #555;
}

#check-updates {
	width: 10px;
	height: 10px;
	cursor: pointer;
	opacity: .3;
	filter: alpha(opacity=30); /* For IE8 and earlier */
}

#check-updates:hover {
	opacity: 1;
	filter: alpha(opacity=100); /* For IE8 and earlier */
}

#footer-box {
	width: 80%;
	margin: 0 auto;
	border-top: 1px solid #ccc;
	padding: 5px;
	text-align: center;
}

/* Class styles */
.bar_calls {
	background-color: #6AFF86;
	float: none;
	padding: 0 0 0 2px;
}

.bar_duration {
	background-color: #FFF285;
	float: none;
	padding: 0 0 0 2px;
}

.cdr {
	margin: 0 auto;
	border-width: 0;
	width: 100%;
	font-size: .9em;
}

.cdr fieldset {
	border-radius: 10px;
	background-color: rgba(184, 240, 255, 0.2);
	border: 1px solid #B8F0FF;
}

.cdr th,
.total td {
	background-color: rgba(184, 240, 255, 0.69);
	text-align: center;
	box-shadow: 0 0 2px #85CDE1 inset;
	border-radius: 5px;
	color: #1896B8;
	padding: 3px;
}

.total td {
	font-weight: 700;
}

.cdr .center_col {
	width: 78%;
	padding: 2px;
}

.cdr .end_col {
	width: 11%;
	padding: 3px;
	text-align: center;
}

.cdr .chart_data {
	width: 3%;
	padding: 1px;
	text-align: center;
}

.cdr .img_col {
	width: 16px;
	height: 16px;
}

legend.title {
	color: #20BCE7;
}

.title,
.title a {
	color: #777;
	font-size: 1em;
	font-weight: 700;
}

.record {
	background-color: #fff;
	empty-cells: hide;
}

.record  td {
	text-align: left;
	padding: 3px 3px 3px 10px;
}

.record:hover {
	background: #E3FFFE;
	color: #000;
	empty-cells: hide;
}

.record_col {
	padding-left: 2px;
	padding-right: 2px;
	border-width: 0;
}

.record_col a, 
.record_col a:visited {
	color: #000;
	text-decoration: none;
}

.record_col a:hover {
	color:#0000ff;
	text-decoration: none;
}

.record_col .recordBox {
	margin: 0 auto;
}

.record_col div.img_play,
.record_col div.img_dl,
.record_col div.img_delete {
	cursor:pointer;
}

.record_col div.img_play {
	background: url('record_play.png') no-repeat transparent;
	display: inline-block;
	width: 24px;	
	height: 24px;		
	margin-right: 1px;
}

.record_col div.img_dl {
	background: url('record_dl.png') no-repeat transparent;
	display: inline-block;
	width: 24px;
	height: 24px;	
}

.record_col div.img_delete {
	background: url('record_delete.png') no-repeat transparent;
	display: inline-block;
	width: 17px;	
	height: 24px;
	margin-left: 1px;
}

.record_col div.img_notfound {
	background: url('record_notfound.png') no-repeat transparent;
	display: inline-block;
	width: 24px;
	height: 24px;
	opacity: .5;
	filter: alpha(opacity=50); /* For IE8 and earlier */	
}

/* Плеер */
#playerOverlay {
	position: fixed;
	height: 100%;
	width: 100%;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.8);
	opacity: 0;
	filter: alpha(opacity=0); /* For IE8 and earlier */
	visibility: hidden;
	z-index: 10000;
	overflow: hidden;
}

#playerBox {
	display: none;
	z-index: 10001;
	width: 425px;
	height: 75px;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
}

#playerBox .plTitle {
	margin-bottom: 8px;
	color: #379FFF;
	text-align: center;
	clear: both;
	overflow: hidden;
	white-space: nowrap;
	word-wrap: break-word;
	text-overflow: ellipsis;
	text-shadow: 1px 1px 1px #000000;
}

#playerBox .plStyle {
	width: 425px;
	height: 40px;
}

/* Статус звонка */
.record_col .status {
	margin-right: 1px;
	vertical-align: bottom;
	display: inline-block;
	width: 16px;
	height: 16px;
}

.record_col .status-answer,
.record_col .status-noanswer,
.record_col .status-busy,
.record_col .status-failed {
	background: url('statuses.png') no-repeat transparent;
	overflow: hidden;
	text-indent: -9999px;
	text-align: left;
}

.record_col .status-answer {
	background-position: 0 -16px;
}

.record_col .status-noanswer {
	background-position: 0 -32px;
}

.record_col .status-busy {
	background-position: 0 -48px;
}

.record_col .status-failed {
	background-position: 0 0;
}

td.answer {
	color: #008000;
}

td.noanswer {
	color: #ff0000;
}

td.busy {
	color: #E19500;
}

td.failed {
	color: #888;
}

.center {
	text-align: center;
}

.right {
	padding-right: 80px;
	text-align: right;
	font-size: 9pt;
}

.dl_csv {
	text-align: center;
	font-size: .9em;
}

.submit {
	background-color: rgba(184, 240, 255, 0.7);
	cursor: pointer;
	border: 1px solid;
	border-color: #78cde4 #6BB7CC #6BB7CC #78cde4;
	color: #007191;
	border-radius: 3px;
	padding: 1px 10px;
	transition: 0.2s;
	-moz-transition: 0.2s;
	-webkit-transition: 0.2s;
}

.submit:hover {
	box-shadow: 0 0 1px #6BB7CC inset;
	border-color: #999 #ccc #ccc #999;
	background-color: #B8F0FF;
}

/* Навигация вверх/вниз */
#scroll-box {
	position: fixed;
	top: 45%;
	right: 10px;
	height: 80px;
	display: none;
	z-index: 999;
}

#scroll-box .scroll {
	background-color: #000;
	border-radius: 5px;
	color: #fff;
	display: block;
	-webkit-font-smoothing: antialiased;
	font: normal 20px/1 'Arial';
	padding: 9px;
	text-decoration: none;
	vertical-align: top;
	opacity: .22;
	filter: alpha(opacity=22); /* For IE8 and earlier */
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	text-decoration: none;
}

#scroll-box .scroll:hover {
	opacity: 1;
	filter: alpha(opacity=100); /* For IE8 and earlier */
	cursor: pointer;
}

#scroll-box  > #scroll-up {
	margin-bottom: 5px;
}

/* Период времени */
#id_range .head {
	border-bottom: 1px solid #777;	
}

/* Остальное */
.margin-left0 {
	margin-left: 0;
}

#id_result_limit {
	margin-left: 4px;
}


