/* HTML tag styles */
a {
	cursor:pointer;
}

body {
	font-family:Time New Roman;
	font-size:16px;
	margin:0;
	padding:0;
}

hr {
	border: 0; 
	height: 1px; 
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
}

input, select {
	border-radius: 3px;
	border: 1px solid #BBB7B7;
}

abbr {
	border:0;
}

img {
	border-width:0;
}

/* Кнопки */

.btn_a_2, .btn_a_2:visited {
	border:1px solid #009fe8; border-radius: 4px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 4px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
	background-color: #00c8ff; 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#00c8ff), to(#0386aa));
	background-image: -webkit-linear-gradient(top, #00c8ff, #0386aa);
	background-image: -moz-linear-gradient(top, #00c8ff, #0386aa);
	background-image: -ms-linear-gradient(top, #00c8ff, #0386aa);
	background-image: -o-linear-gradient(top, #00c8ff, #0386aa);
	background-image: linear-gradient(to bottom, #00c8ff, #0386aa);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#00c8ff, endColorstr=#0386aa);
}

.btn_a_2:hover {
	border:1px solid #077cba;
	background-color: #0386aa; 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#0386aa), to(#0386aa));
	background-image: -webkit-linear-gradient(top, #0386aa, #0386aa);
	background-image: -moz-linear-gradient(top, #0386aa, #0386aa);
	background-image: -ms-linear-gradient(top, #0386aa, #0386aa);
	background-image: -o-linear-gradient(top, #0386aa, #0386aa);
	background-image: linear-gradient(to bottom, #0386aa, #0386aa);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#0386aa, endColorstr=#0386aa);
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

.btnSearch {
	margin-right: 10px;
}

#container {
	margin:0 auto;
	max-width:1400px;
	min-width:1024px;
}

#header {
	margin:0 auto;
}

#header .sub {
	font-size:0.8em;
}

#header_title {
	color: #1384C9;
	font-family: serif;
	font-size: 1.8em;
	font-variant: small-caps;
	font-weight: bold;
	vertical-align: top;
	text-shadow:2px 2px 2px #ccc;
}

#header_title span {
	font-size:0.8em;
	vertical-align:top;
}

#header_title span a:hover {
	color:#ff0000;
}

#header_title a {
	color:inherit;
	text-decoration:none;
}

#main {
	padding-top:10px;
	color: #000;
	width:98%;
	margin: 0 auto;
}

#footer, #footer a {
	color: #999;
	text-decoration: none;
}

#footer a:hover {
	color: #555;
}

#footerBox {
	width: 80%;
	margin: 0 auto;
	border-top: 1px solid #ccc;
	padding: 5px;
	text-align: center;
}

#footer {
	margin-top: 20px;
	margin-bottom: 20px;
}

/* Class styles */
.bar_calls {
	background-color: #6AFF86;
	float:none;
	padding:0 0 0 2px;
}


.bar_duration {
	background-color: #FFF285;
	float:none;
	padding:0 0 0 2px;
}


.cdr {
	margin:0 auto;
	border-width:0;
	width: 100%;
	font-size: 0.9em;
}

.cdr fieldset {
	border-radius: 10px;
	background-color: rgba(184, 240, 255, 0.2);
	border: 1px solid #B8F0FF;
}


.cdr th, .total td {
	background-color: rgba(184, 240, 255, 0.69);
	text-align:center;
	box-shadow: 0 0 2px #85CDE1 inset;
	border-radius:5px;
	color:#1896B8;
	padding:3px;
}

.total td {
	font-weight: 700;
}

.cdr .center_col {
	width:78%;
	padding:2px;
}


.cdr .end_col {
	width:11%;
	padding:3px;
	text-align:center;
}

.cdr .chart_data {
	width:3%;
	padding:1px;
	text-align:center;
}


.cdr .img_col {
	width:16px;
	height:16px;
}

legend.title {
	color: #20BCE7;
}


.title, .title a {
	color: #777;
	font-size: 1em;
	font-weight: bold;
}


.record {
	background-color:#fff;
	empty-cells:hide;
}

.record  td {
	text-align:left;
	padding:3px 3px 3px 10px;
}


.record:hover {
	background: #E3FFFE;
	color:#000;
	empty-cells:hide;
}


.record_col {
	padding-left:2px;
	padding-right:2px;
	border-width:0;
}

.record_col a, a:hover, a:visited {
	color:#000;
	text-decoration:none;
}

.record_col a:hover {
	color:#0000ff;
}

.record_col .recordBox {
	margin:0 auto;
}

.record_col img.img_play {
	margin-right:1px;
}

.record_col img.img_dl {

}

.record_col img.img_notfound {
	filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: gray; /* IE 6-9 */
	opacity: .5;
}

#playerBox {
	height:100%;
	width:100%;
	background-color:rgba(0, 0, 0, 0.8);
	opacity:0;
	visibility:hidden;
	top:0;
	left:0;
	right:0;
	bottom:0;
	overflow:hidden;
	position:fixed;
	-moz-transition:all 0.5s ease 0s;
	-webkit-transition:all 0.5s ease 0s;
	-o-transition:all 0.5s ease 0s;
	-ms-transition:all 0.5s ease 0s;
	transition:all 0.5s ease 0s;
	z-index: 999999999999999999999999998;
}

#playerBox .objPlayer {
	width:425px;
	height:40px;
	margin:auto;
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:fixed;
	z-index: 999999999999999999999999999;
}

/* Статус звонка */
.record_col object.obj {

}

.record_col img.status {
	margin-right:1px;
	vertical-align:bottom;
}

td.answer {
	color:#008000;
}

td.noanswer {
	color:#ff0000;
}

td.busy {
	color:#E19500;
}

td.failed {
	color:#888;
}


.center {
	text-align:center;
}

.right {
	padding-right:80px;
	text-align:right;
	font-size: 9pt;
}

.dl_csv {
	text-align: center;
	font-size: 0.9em;
}

.submit {
	background-color: rgba(184, 240, 255, 0.7);
	cursor: pointer;
	border: 1px solid;
	border-color: #78cde4 #6BB7CC #6BB7CC #78cde4;
	color: #007191;
	border-radius: 3px;
	padding: 1px 10px;
	transition: 0.2s;
	-moz-transition: 0.2s;
	-webkit-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 0.2s;
}

.submit:hover {
	box-shadow: 0 0 1px #6BB7CC inset;
	border-color: #999 #ccc #ccc #999;
	background-color: #B8F0FF;
}

/* Стрелки вверх/вниз */

a.scroll {
	background-color: #000;
	border-radius: 5px;
	color: #fff;
	display: block;
	-webkit-font-smoothing: antialiased;
	font: normal 24px/1 'Genericons';
	padding: 3px 5px;
	position: fixed;
	right: 20px;
	text-decoration: none;
	vertical-align: top;
	opacity: .3;
	filter:alpha(opacity=50); /* For IE8 and earlier */
	z-index: 999;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
}

a.scroll:hover {
	opacity: 1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}

a#scrollUp {
	bottom: 55px;
}

a#scrollDown {
	bottom: 20px;
}


